<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Select a friend to message:" %><br>
    <%= f.collection_select(:to_user_id, current_user.friends, :id, :name ) %>
  </div>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message, rows: 10, cols: 80 %>
  </div>


  <div class="actions">
    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Send message">
      <i class="fa fa-send-o"></i>
    </button>

    <%= link_to "Cancel", messages_path, class: "btn btn-default" %>
  </div>

<% end %>
