<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>From</th>
      <th>Subject</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <% b = message.unread ? "<strong>" : "" %>
      <% eb = message.unread ? "</strong>" : "" %>
      <tr>
        <td><%= "#{b}#{message.sender.name}#{eb}".html_safe %></td>
        <td><%= link_to "#{b}#{message.subject}#{eb} - <span class=\"muted\">#{truncate(message.message)}</span>".html_safe, message %></td>
        <td align="right">
          <% if message.created_at > Time.now.midnight %>
            <%= message.created_at.strftime("%l:%M %P") %>
          <% else %>
            <%= message.created_at.strftime("%b %e") %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
