<h1>Invite your friends</h1>
<div class="row">
  <div class="col-sm-12 col-lg-4">
    You need some friends online to buy and sell uniforms. 
    Spread the word here about this site. 
    We'll send them an email with your message inviting them to join up.
  </div>
  <div class="col-sm-12 col-lg-8">
    <%= form_tag("/invite", method: :post) do %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= email_field_tag 'email1', nil, placeholder: 'joe@example.com' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= email_field_tag 'email2', nil, placeholder: 'bob@example.com' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= email_field_tag 'email3', nil, placeholder: 'tom@example.com' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= email_field_tag 'email4', nil, placeholder: 'jon@example.com' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= email_field_tag 'email5', nil, placeholder: 'tim@example.com' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <%= text_area_tag 'message', 
          'I want to invite you to sign up for a new web site I discovered. It is called schooluniformresale.com and it is all about buying and selling school uniforms. It is absolutely free to sign up and buy and sell uniforms.',
            rows: 3, cols: 40 %>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-large btn-info">
      <i class="fa fa-send-o"></i> Send Invitations
    </button>

    <% end %>
  </div>
</div>