
<h1>Welcome to School Uniform Resale!</h1>

<div class="row">
  <div class="col-md-4 col-sm-8">

    <div class="well">
      <h3>My Schools</h3>
        <% current_user.schools.each do |school| %>
        <div>
            <%= link_to school.name, school %><br/>
            <%= school.formatted_address.html_safe %>
            <%= "#{school.email}<br/>" unless school.email.blank? %>
            <!--
            < % = "#{school.phone}<br/>" unless school.phone.blank? % > -->
            <%= link_to school.url unless school.url.blank? %>
        </div>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-8 col-sm-8">
    <h3>Buy &amp; Sell</h3>
    <%= link_to "List Clothing for Sale", new_item_path %><br/>
    <%= link_to "Browse Clothing for Sale", items_path %></br/>
    <hr/>
    <p>
    <%= link_to "Items I am Selling (#{current_user.items.length})", my_items_path %>
    <br/>
    <%= link_to "Items I am Watching (0)", items_path %>

    </p>

    <hr/>
    <h3>Messages</h3>
    <p>
    <%= link_to "Inbox : #{current_user.messages.length} / 0", messages_path %>
    </p>

    <h3>Friends</h3>

    <p>
      It looks like you don't have any School Uniform Friends yet. Why not invite someone to join now?
    </p>

    <a href="#">Invite a friend</a>

  </div>
</div>
