<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school, "Select a school for this item" %><br/>
    <%= collection_select(:item, :school_id, current_user.schools, :id, :name, {prompt: true}) %>
  </div>

  <div class="field">
    <%= f.label :name, "Title" %><br>
    <%= f.text_field :name, placeholder: "Enter a title for your item" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 4, cols: 60, placeholder: "Enter a description of your item" %>
  </div>
  <div class="field">
    <%= f.label :size %><br/>
    <%= f.select(:size, options_for_select([["XS", "XS"], ["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"], ["XXL", "XXL"], ["XXXL", "XXXL"],
      ["0", "0"], ["2", "2"], ["4", "4"], ["6", "6"], ["8", "8"], ["10", "10"], ["12", "12"], ["14", "14"], ["16", "16"], ["18", "18"]],
      @item.size)) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, placeholder: '$0.00' %>
  </div>
  <div class="field">
    <%= f.label :category %><br/>
    <%= collection_select(:item, :category_id, Category.all, :id, :name, {prompt: true}) %>
  </div>
  <div class="field">
    <%= f.label :condition %><br/>
    <%= collection_select(:item, :condition_id, Condition.all, :id, :description, {prompt: true}) %>
  </div>

   <div class="actions">
    <%= f.submit (@item.persisted? ? 'Update Listing' : 'Create Listing'), class: "btn btn-primary" %>
    <%= link_to 'Cancel', (@item.persisted? ? @item : items_path), class: "btn btn-info" %>
  </div>
<% end %>
