<h1>Items for Sale</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>School</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Seller</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if !item.school.nil? %>
            <%= link_to item.school.name, item.school %>
          <% end %>
        </td>
        <td><%= link_to item.name, item %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.user.name unless item.user.nil? %></td>

        <td>
            <% if can? :update, item %>
              <%= link_to 'Edit', edit_item_path(item) %>
            <% end %>
        </td>
        <td>
            <% if can? :destroy, item %>
                <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Item %>
  <%= link_to 'List an Item for Sale', new_item_path, class: 'btn btn-primary btn-large' %>
<% end %>
