
<div class="row">
  <h3><%= @item.name %></h3>

  <div class="well">

    <div class="form-group">
      <label>Description:</label><br/>
      <%= @item.description %>
    </div>

    <div class="form-group">
      <label>Quantity:</label>
      <%= @item.quantity %>
    </div>

    <div class="form-group">
      <label>Price:</label>
      <%= number_to_currency(@item.price) %>
    </div>

    <div class="form-group">
      <label>Seller:</label>
      <%= link_to @item.user.name, @item.user unless @item.user.nil? %> 

      <!-- TODO make create a new message to the seller prepopulating item and subject -->
      <%= link_to icon('envelope-o'), messages_path %><br/>
      <%= @item.user.address %>

      <%= link_to "Add Friend", user_friends_path(friend_id: @item.user), method: :post %>
    </div>

    <div class="form-group">
      <label>Category:</label>
      <%= @item.category.name unless @item.category.nil? %>
    </div>

    <% if @item.brand.present? %>
    <div class="form-group">
      <label>Brand: </label>
      <%= @item.brand %>
    </div>
    <% end %>

    <div class="form-group">
      <label>Size: </label>
      <%= @item.size %>
    </div>

    <div class="form-group">
      <label>Condition:</label>
      <%= @item.condition.description unless @item.condition.nil? %>
    </div>

    <div class="form-group">
      <label>Expires on: </label>
      <%= @item.expires_on.strftime("%m/%d/%Y") %>
    </div>

    <div class="form-group">
      <%= image_tag @item.image_url(:thumb).to_s %>
    </div>

    <div class="form-group">
      <% if !current_user.item_in_favorites?(@item.id) %>
        <%= link_to "Add to favorites", favorites_path(item_id: @item.id), method: :post %>
      <% else %>
        <%= link_to "Remove from favorites", current_user.find_favorite(@item.id), method: :delete %>
      <% end %>
    </div>


    <% if can? :update, @item %>
      <%= link_to 'Edit this listing', edit_item_path(@item), class: 'btn btn-primary' %>
    <% end %>
    <% if can? :destroy, @item %>
      <%= link_to "Delete this listing", @item, method: :delete, data: { confirm: 'Delete this listing?' }, title: "Delete item", class: "btn btn-info" %>
    <% end %>

    <br/><br/>

    <%= link_to 'Items List', items_path %>

  </div>
</div>