<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, placeholder: "School name" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, cols: 60, rows: 4, placeholder: "Enter other information about this school (optional)" %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_field :address1, placeholder: "School address line 1" %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_field :address2, placeholder: "Address line 2 (optional)" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: "City" %>
  </div>

  <!-- TODO : make this a dropdown -->
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip, placeholder: "Zip" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.url_field :url, placeholder: "Web site" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, placeholder: "example@school.com" %>
  </div>


  <div class="actions">
    <%= f.submit "Save School", class: 'btn btn-primary' %>
  <%= link_to 'Cancel', @school, class: 'btn btn-info' %> 
  </div>
<% end %>
