<p id="notice"><%= notice %></p>

<h1>Listing Schools</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Url</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= link_to 'Fav', add_fav_path(school), method: :post unless current_user.schools.include?(school) %></td>
        <td><%= link_to school.name, school %></td>
        <td><%= school.address1 %></td>
        <td><%= school.address2 %></td>
        <td><%= school.city %></td>
        <td><%= school.state %></td>
        <td><%= school.zip %></td>
        <td><%= school.url %></td>
        <td><%= school.email %></td>
        <td>
          <% if can? :update, school %>
            <%= link_to 'Edit', edit_school_path(school) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, school %>
            <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
