<p id="notice"><%= notice %></p>


<h3><%= @school.name %></h3>

<div class="row">
  <div class="well">

    <p>
      <%= @school.description %>
    </p>

    <p>
      <%= @school.formatted_address.html_safe %>
    </p>

    <p>
      <%= link_to @school.url %>
    </p>

    <p>
      <%= mail_to @school.email %>
    </p>


    <%= link_to 'Edit', edit_school_path(@school), class: 'btn btn-primary' %>
    <%= link_to 'Back', schools_path, class: 'btn btn-success' %>
  </div>
</div>